/*
 * This CSS file contains the styling for the posts created with the image API.
*/

/* Variables */
:root {
    --indent-1: 1rem;
    --indent-2: 1.5rem;
    --indent-3: 1rem;
    --radius-1: 1rem;
    --gap-1: 1rem;
    --gap-2: 0.5rem;
    --lighter-text-color: rgb(75, 75, 75); /* Passes WCAG AAA contrast standards */
    --post-background-color: whitesmoke;
}

/* Borders for testing */
.post * {
    /* border: 1px solid red; */
}

/* Article */
.post {
    background-color: var(--post-background-color);
    border: var(--general-border);
    border-radius: 1rem;
    max-width: calc(500rem/16);
    min-width: calc(230rem/16);
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}

/* Figure */
.nasa-photo-container {
    border-radius: var(--radius-1) var(--radius-1) 0 0;
    width: 100%;
}

.nasa-photo {
    border-radius: var(--radius-1);
    cursor: pointer;
    display: block;
    height: auto;
    margin-bottom: var(--gap-1);
    width: 100%;
    transition: transform 0.25s;
}

.nasa-photo:hover {
    transform: scale(1.01);
}

.nasa-photo-caption {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 0 var(--indent-1);
}

/* Date */
.nasa-photo-date {
    color: var(--lighter-text-color);
    padding: 0 var(--indent-2);
    font-size: 0.9rem;
    font-weight: bold;
}

/* Comments and Like */
.comment-like-area {
    color: var(--lighter-text-color);
    margin-bottom: 0.5rem;
    padding: 0 var(--indent-2);
}

.comment-like-area span {
    display: block;
    margin-bottom: var(--gap-2);
}

.comment-like-area span span {
    display: inline;
}

.comments {
    border-left: 0.15rem solid var(--light-color-3);
    margin-left: var(--indent-3);
}

.comments li {
    margin-top: var(--gap-2);
    padding-left: 0.5rem;
}

.comments li:first-child {
    margin-top: 0;
}

/* Comment input and Like button section */
.comment-like-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding-top: var(--gap-1);
}

/* Comment Form */
.comment-form {
    flex-grow: 1;    
}

.comment-form label {
    display: none;
}

.comment-input {
    background-color: rgb(219, 219, 219);
    border-radius: 3rem;
    border-style: none;
    box-shadow: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    width: 5.9rem;
    transition: width 0.5s;
}

.comment-input:hover, 
.comment-input:focus {
    border: 0.01rem solid rgb(158, 158, 158);
    cursor: pointer;
}

.comment-input:focus {
    cursor: text;
    font-weight: normal;
    outline: none;
    width: 100%;
}

.comment-button {
    display: none;
}

/* Like Button */
.like-button {
    height: 0;
    width: 0;
    margin-right: 0.35rem;
}

.like-button img {
    width: 2rem;
    height: 2rem;
    position: relative;
    top: -1rem;
    left: -1rem;
    background-color: var(--post-background-color);
    transition: transform 0.5s, display 2s;
}

.like-button img:hover {
    transform: scale(1.25);
}

.outline-image {
    display: block;
}

.filled-image {
    display: none;
}

/* Media Queries */
@media only screen and (max-width: calc(500rem/16)) {
    .post {
        background-color: var(--mobile-background-color);
        border-radius: 0;
        border-style: none;
    }
    .like-button img {
        background-color: var(--mobile-background-color);
    }
}
