/*
 * This CSS file contains the styling for the posts created with the image API.
*/

/* Variables */
:root {
    --pad: 0.5rem; /* padding 1 */
    --pad2: 1.5rem; /* padding 2 */
    --rad: 5px; /* border-radius */
    --bor: 1px solid rgb(209, 209, 209); /* border */
    --lighter-text-color: rgb(75, 75, 75); /* Passes WCAG AAA contrast standards (8:1 contrast ratio) */
}

/* Borders for testing */
#container article * {
    /* border: 1px solid red; */
}

/* Article */
#container article {
    border-radius: var(--rad);
    border: var(--bor);
    background-color: rgb(245, 245, 245);
}

/* Figure */
#container article figure {
    border-radius: var(--rad) var(--rad) 0 0;
    width: 100%;
    overflow: hidden;
}

#container article figure img {
    display: block;
    border-radius: var(--rad) var(--rad) 0 0;
    width: 100%;
    height: auto;
    cursor: pointer;
}

#container article figure figcaption {
    padding: 1rem 1rem var(--pad) 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

/* Date and Location */
#container article .nasa-photo-date {
    padding: var(--pad) var(--pad2);
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--lighter-text-color);
}

#container article .nasa-photo-date time {

}

/* Comments */
#container article .comment-area {
    padding: var(--pad) var(--pad2);
    color:var(--lighter-text-color);
}

#container article .comment-area span {
    display: block;
}

#container article .comment-area span span {
    display: inline;
}

#container article .comment-area ul {
    padding-top: var(--pad);
    padding-left: var(--pad2);
}

#container article .comment-area ul li {
    margin-top: var(--pad);
}

/* Form */
#container article .comment-area form {
    margin-top: var(--pad2);
    padding-left: var(--pad);
    display: flex;
}

#container article .comment-area form label {
    display: none;
    padding-right: var(--pad);
    font-style: italic;
}

#container article .comment-area form input {
    flex-grow: 1;
    border-radius: var(--rad) 0 0 var(--rad);
    border-right-style: none;
    height: 2rem;
}

#container article .comment-area form input:hover, 
#container article .comment-area form input:focus {
    outline: none;
    border-color: rgb(0, 153, 255);
}

#container article .comment-area form .comment-button {
    margin-right: var(--pad);
    border-radius: 0 var(--rad) var(--rad) 0;
}

/* Buttons */
button {
    background-color: rgb(85, 193, 255);
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    font-weight: bold;
    width: 5rem;
    height: 2rem;
    cursor: pointer;
}

button:hover, 
button:focus {
    background-color: rgb(0, 153, 255);
}

button:active {
    background-color: rgb(0, 60, 255);
    color: white;
}

#container article .like-button-container {
    padding: var(--pad) 2rem 1rem var(--pad);
    display: flex;
    flex-direction: row-reverse;
}

#container article .like-button-container .like-button {
    width: 0;
    height: 0;
    margin: 1rem 2rem;
}

#container article .like-button-container .like-button img {
    width: 2rem;
    height: 2rem;
    position: relative;
    top: -1rem;
    left: -1rem;
    background-color: rgb(245, 245, 245);
    transition: transform 0.5s;
}

#container article .like-button-container .like-button img:hover {
    transform: scale(1.25);
}

#container article .like-button-container .like-button .outline-image {
    display: block;
}

#container article .like-button-container .like-button .filled-image {
    display: none;
}

/* Media Queries */
@media only screen and (max-width: calc(500rem/16)) {
    #container article {
        border-width: 0;
    }
    #container article .comment-area form {
        flex-wrap: wrap;
    }
    #container article .comment-area form label {
        flex-basis: 100%;
        padding-bottom: var(--pad);
    }
    #container article .like-button-container {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: calc(325rem/16)) {
    #container article .comment-area form input {
        flex-basis: 100%;
        margin-right: var(--pad);
        border-radius: var(--rad) var(--rad) 0 0;
        border-right-style: solid;
        border-bottom-style: none;
    }
    #container article .comment-area form .comment-button {
        flex-basis: 100%;
        border-radius: 0 0 var(--rad) var(--rad);
    }
}
